/* img#background-img {
// Set rules to fill background
min-height: 100%;
min-width: 1024px;

// Set up proportionate scaling
width: 100%;
height: auto;

// Set up positioning
position: fixed;
top: 0;
left: 0;
}
*/

html body {
    background-color: skyblue;
}

#page {
    height: 100%;
    width: 100%;
    padding: 2rem 2rem 0 2rem;
    font-family: 'Anton';
    letter-spacing: 0.075rem;
    color: black;
    background-color: white;
}

#header-container {
    top:0;
    max-height: 50rem;
    width: 100%;
    position: relative;
}

/* ------ BOOTSTRAP SNIPPET ------ */

header {
    position: relative;
    background-color: black;
    height: 17rem;
    min-height: 17rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

/* @media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
} */

/* ------ MY STYLES ------ */

#header-intro {
    position: absolute;
    bottom: 0;
    padding: 2%;
    min-width: 100%;
    text-align: center; 
}

#profile-img {
    /*position: relative;
    display: inline-block;*/
    border-radius: 50%;
    border: 10px solid black;
    width: 150px;
    z-index: 100;
}

#header-text {
    /*position: absolute;
    display: inline-block;
    padding: 0px;
    height: 50%;
    width: 40%;
    text-align: left;
    line-height: 100%;
    color: black;
    background-color: white;
    border: 4px solid black;
    margin-left: 9%;
    margin-top: 2%;*/
}

#header-text h1 {
    font-family: 'Lobster';
    font-size: 45px;
    letter-spacing: 2px;
   /* margin-top: 1%;
    margin-left: 20%; */
}

#header-text p {
    /*margin-left: 30%;*/
}

#navbar.navbar.navbar-expand-lg.container {
    margin-top: 2%;
}

.navbar-nav {
    position: absolute;
    width: 100%;
}

.nav-item {
    border-right: 4px solid black;
}

#nav-tab-right.nav-item {
    border-right: none;
}

.nav-link {
    /*list-style: none;
    display: inline-block;
    padding: 2% 8% 2% 8%;*/
    color: black;
    font-weight: bold;
    text-align: center;
}

a.nav-link{
    border-bottom: 2px solid white;
}

a.nav-link:hover {
  border-bottom: 2px solid skyblue;
}

a.nav-link,
a.nav-link:visited,
a.nav-link:hover,
a#resume-download-link {
    text-decoration: none;
    color: black;
}

a#resume-download-link:visited {
    text-decoration: none;
    color: black;
}

a#resume-download-link.nav-link:hover {
    text-decoration: none;
    border-bottom: 2px solid skyblue;
}

.text-icon {
    
}

#content {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

#theme-section.content-section {
    margin-top: 5%;
    margin-bottom: 5%;
}

#content h2 {
    font-family: 'Lobster';
}

.content-section {
    border-bottom: 2px solid black;
    padding: 5%;
}

div#contact-me.content-section {
    border-bottom: none;
}

.content-p-container {
    /*width: 100%;*/
}

.content-p-container p {
    /*width: 50%;*/
}

#footer {
    bottom:0;
    padding: 0.5rem;
    text-align: center;
    border-top: 4px solid black;
    background-color:lightgray;
    font-size: 90%;
    font-weight: normal;
}

#footer a {
    text-decoration: none;
     color: black;
}

#footer a:hover {
    text-decoration: none;
}

#footer p,
#footer a {
    display: inline-block;
}


.content-section {
    max-height: 500px;
    width: 100%;
}


/* ------ DARK THEMES ------ */

#header.dark-theme {
  
}
