#page {
  height: 100%;
  width: 100%;
  padding: 50px;
}

#header {
  top:0;
  max-height: 500px;
  width: 100%;
}

#header {
  background: url("clouds.mp4");
}

#header.dark-theme {
  
}

#content {
  margin-top: 50px;
  margin-bottom: 50px;
}

#footer {
  bottom:0;
}

.fixed {
  position:fixed;
}

.content-section {
   max-height: 500px;
   width: 100%;
}

.dark-theme {
  
}
